# Expo
.expo/
.turbo/
dist/
web-build/
expo-env.d.ts
coverage/
*.tsbuildinfo

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.xcworkspace
.xcode.env.local

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/.xcode.env.local

# Android
android/build/
android/app/build/
android/.gradle/
android/local.properties

# macOS
.DS_Store
*.pem

# Environment
.env
.env.local
.env.*.local

# Build outputs
*.log
*-qr.png
